body {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400; /* Regular 400 */
  color: #7F7F7F;

}

.root {
  display: flex;
  flex-direction: column;

}
ul {
  list-style:none;
}

a {
  text-decoration: none;
}
.container_top {
  display: flex;
  flex-direction: column;
}

.character_main > span {
  font-size: 24px;
}

.container_bottom {
  display: flex;
  background-color: #f3f6fb;
  /* color: #f3f6fb; */

  width: 100%;
  height: 300px;
  /* border: 1px solid black; */

  align-items: center;
}

.sheets {
  display: flex;
  border-bottom: 2px solid #B1B8ED;
  margin-bottom: -2px;
}

.sheet {
  margin-right: 4px;
  position: relative;
  display: flex;
}

.character_name {
  position: absolute;
  top: 50%; /* 상위 요소의 중앙에 위치하도록 top과 left 값을 50%로 설정합니다. */
  left: 50%;
  transform: translate(-50%, -50%); /* translate로 중앙 정렬합니다. */
  /* 적절한 스타일을 추가합니다. */
  color: black;
  font-size: 24px;
  font-weight: bold;
}


.weather_conditions {
  display: flex;
  flex-direction: row;
}

.weather_condition {
  margin-right: 12px;
}

.weather_condition {
  display: flex;
  flex-direction: column;
}

.character_main {
  display: flex;
  flex-direction: column;

  /* (container_top의) flex 자식 입장 */
  align-items: center;
}

.character_main_line {
  width: 350px;
  height: 360px;
  border: 2px solid #B1B8ED;
  display: flex;
  justify-content: center;
  align-items: center;
}

.character_main > * {
  margin-bottom: 12px;
}

.weather_condition_rain {
  position: absolute;
  top: 200px;
  left: 350px;

  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.weather_condition_rain.active {

  opacity: 1;
}

.weather_condition_snow {
  position: absolute;
  top: 200px;
  left: 350px;

  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.weather_condition_snow.active {

  opacity: 1;
}

.main_image {

  position: relative;
}

.memos {
  display: flex;

  width: 100%;
  /* border: 1px solid red; */
  justify-content: space-evenly;
}

.memo {
  width: 250px;
  height: 250px;
  /* border: 1px solid black; */
}

.memo:first-of-type {
  margin-left:-32px;
}

.memo_title {
  height: 40px;
  background-color: #B1B8ED;
  position: relative;
  display: flex;
  align-items: center;
}
.memo_title > span {
  margin-left: 12px;
  font-weight: 900;
}
.memo_close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.memo_content {
  height: 208px;
  background-color: #dce3fc;
  /* border: 1px solid red; */
  display: flex;
  
}

.memo_content > span {
  margin-left: 12px;
  margin-top: 4px;
}

.memo_empty {
  width: 250px;
  height: 250px;
  /* border: 1px solid black; */
}

/* .memo_empty:first-of-type {
  margin-left:-32px;
} */

.memo_title_empty {
  height: 40px;
  background-color: #d9d9d9;
  position: relative;
  display: flex;
  align-items: center;
}

.memo_title_empty > span {
  margin-left: 12px;
  font-weight: 900;
}

.memo_content_empty {
  height: 208px;
  background-color: #f2f2f2;
  /* border: 1px solid red; */
  display: flex;
  
}

